<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      html,
      body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      p {
        margin: auto;
        width: 800px;
        column-count: 3;
        font-size: 16px;
        line-height: 2;
      }

      .rule {
        column-rule: 1px solid #aaa;
        column-gap: 2em;
      }
    </style>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error pariatur
      suscipit facilis veritatis laborum dolorem ipsam totam accusamus rem non
      unde, blanditiis veniam quaerat porro dolor dolorum reiciendis temporibus
      tenetur.Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>

    <p class="rule">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error pariatur
      suscipit facilis veritatis laborum dolorem ipsam totam accusamus rem non
      unde, blanditiis veniam quaerat porro dolor dolorum reiciendis temporibus
      tenetur.Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </body>
</html>
