<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .g-nav {
        height: 100px;
        display: flex;
        /* // padding: 0 50px; */
        margin-bottom: 100px;
        box-sizing: border-box;
        background: #037d65;
      }

      li {
        width: 100px;
        line-height: 100px;
        text-align: center;
        font-size: 18px;
        color: #fff;
        /* // margin-left: auto; */
      }

      .g-login {
        margin-left: auto;
      }
    </style>
  </head>
  <body>
    <ul class="g-nav">
      <li>导航A</li>
      <li>导航B</li>
      <li>导航C</li>
      <li>导航D</li>
      <li class="g-login">登陆</li>
    </ul>
  </body>
</html>
