<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .g-container {
        display: flex;
        width: 100vw;
        height: 100vh;
        background: palegoldenrod;
      }

      .g-box {
        margin: auto;
        width: 100px;
        height: 100px;
        background: blue;
      }
      /* 上面的 display: flex 替换成 display: inline-flex | grid | inline-grid 也是可以的。 */
    </style>
  </head>
  <body>
    <div class="g-container">
      <div class="g-box"></div>
    </div>
  </body>
</html>
